@import '../theme.scss';

.container {
  height: 100vh;
  overflow: hidden;
  overflow-y: auto;
  perspective: 3px;

  .image {
    position: relative;
    background-position: center center;
    transform: translateZ(-2px) scale(1.5);
    background-image: url('../../public/background.jpg');
    /* Force the background image to fill the whole element. */
    background-size: cover;
    /* Keep the image from overlapping sibling elements. */
    z-index: -1;
    height: 100vh;
    // box-shadow: ;
  }

  .content {
    transform: translateY(-55vh) translateZ(1px) scale(1);
    flex-direction: column;

    p { 
      text-align: center; 
      margin: 20px 0;
      color: white;
    }
  
    .slogan {
      font-size: $xxlg_font;
      font-weight: bold;
      animation: text-shadow 1.5s ease-out infinite;
      color: white;
    }
  }
}

.gallery {
  margin-top: 200px;
  min-height: 100vh;
  position: relative;
  padding: 50px;
  z-index: 1;
  background-color: white;

  h1 {
    text-align: center;
  }
}

.gallery_container {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-items: center;
  column-gap: auto;
  row-gap: 20px;
}

.project {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .project_info {
    background-color: transparent;
    padding: 5px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    top: 0%;
    opacity: 0;
    height: 100%;
    
    p {
      margin: 20px 0;
    }

    button {
      background-color: transparent;
      border: 1px solid black;
      padding: 5px;

      &:hover {
        cursor: pointer;
        background-color: black;
        color: white;
      }
    }
  }

  img {
    width: 100%;
    max-width: 400px;
  }

  &:hover {
    img {
      transition: 0.5s;
      transform: scale(1.05);
      opacity: 0.5;
      filter: blur(4px);
    }

    .project_info {
      transition: 0.5s;
      opacity: 1;
    }
  }
}


.profile {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}





// Animation

@keyframes text-shadow {
  0% {  
      // transform: translateY(0);
      text-shadow: 
          0 0 0 #0c2ffb, 
          0 0 0 #2cfcfd, 
          0 0 0 #fb203b, 
          0 0 0 #fefc4b;
  }

  20% {  
      // transform: translateY(-1em);
      text-shadow: 
          0 0.125em 0 #0c2ffb, 
          0 0.25em 0 #2cfcfd, 
          0 -0.125em 0 #fb203b, 
          0 -0.25em 0 #fefc4b;
  }

  40% {  
      // transform: translateY(0.5em);
      text-shadow: 
          0 -0.0625em 0 #0c2ffb, 
          0 -0.125em 0 #2cfcfd, 
          0 0.0625em 0 #fb203b, 
          0 0.125em 0 #fefc4b;
  }
  
 60% {
      // transform: translateY(-0.25em);
      text-shadow: 
          0 0.03125em 0 #0c2ffb, 
          0 0.0625em 0 #2cfcfd, 
          0 -0.03125em 0 #fb203b, 
          0 -0.0625em 0 #fefc4b;
  }

  80% {  
      // transform: translateY(0);
      text-shadow: 
          0 0 0 #0c2ffb, 
          0 0 0 #2cfcfd, 
          0 0 0 #fb203b, 
          0 0 0 #fefc4b;
  }
}
